#voting-info {
  @include flex-display(row, space-between, start);
  margin: 0 3rem 0 3rem;
}
.voting-info-panel {
  @include flex-display(column, start, center);
  margin: .5rem .5rem 0 .5rem;
  width: 50%;
}
#voting-info-img {
  width: 200px;
  transform: rotate(-20deg);
}
#about-me {
  @extend %block;
  padding: 2rem 6rem 2rem 6rem;
}
#press-releases {
  align-self: flex-start;
  margin: 0 6rem 1rem 6rem;
  width: 80%;
}
#contact {
  @extend %block;
  margin-top: 2.5rem;
  border-bottom: none;
}
#form h6 {
  margin-bottom: 1rem;
}