.container {
  @extend %block;
  @include flex-display(column, start, start);
  padding: 2rem 4rem;
}
#issues {
  text-align: right;
}
#register {
  @include flex-display(row, space-around, start);
  width: 80%;
}
.panel-register {
  @include flex-display(column, start, center);
  width: 50%;
  margin: 1rem 0 0 0;
}
#img-register {
  width: 200px;
  transform: rotate(-20deg);
}
#list-register {
  @include flex-display(column, start, start);
  color: white;
  list-style: circle;
}
#sub-li {
  margin-left: 1rem;
  font-size: .65rem;
  font-style: italic;
}
#press {
  width: 80%;
  margin: 1rem;
}
#list-press {
  list-style: circle;
  font-size: 1rem;
}
#contact {
  box-shadow: none;
}