header {
  @extend %block;
  @include flex-display(column, center, center);
}
#sub-header {
  @include flex-display(row, space-around, center);
  text-align: center;
  padding: 2rem;
  width: 70%;
  p {
    font-weight: bold;
    padding-left: 2rem;
    width: 50%;
  }
}
#header-img {
  box-shadow: 20px 20px 50px black;
}
#social-media {
  align-self: flex-end;
  width: 40%;
}
#connect-with-me {
  color: white;
  font-style: italic;
  font-weight: bold;
  text-align: right;
  padding: 0 1rem 1rem 0;
  margin-bottom: 1rem;
  border-bottom: 1px solid white;
}
#social-media-links {
  @include flex-display(row, space-around, center);
  text-align: center;
}
.icon {
  margin-bottom: .5rem;
}