body {
  @include font-styles($font-color, $font-size);
  font-family: $font-family;
  padding: 2rem;
  background: $primary;
}
main {
  @include flex-display(column, center, center);
}
h1, h2, h3, a {
  font-weight: bold;
}
h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  @include font-styles(rgb(92, 190, 255), 1.25rem);
  margin-bottom: 1rem;
}
h5 {
  font-style: italic;
  font-weight: bold;
  text-align: right;
  width: 90%;
  padding-bottom: .5rem;
}
h5, h6 {
  font-size: .75rem;
}
p {
  font-size: 1rem;
  line-height: 1.5rem;
}
a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
li {
  line-height: 1.5rem;
}
hr {
  width: 80%;
}
strong {
  color: white;
  font-size: .8rem;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: .1rem;
}
span {
  font-weight: bold;
}
#index {
  @include flex-display(column, start, center);
}
#quote {
  @include flex-display(row, center, center);
  margin: 5rem 0;
  font-style: italic;
  text-align: right;
}
footer {
  padding-top: 1rem;
  color: $tertiary;
  font-style: italic;
}