@media all and (max-width: 650px) {
  body {
    overflow-x: hidden!important;
  }
  h3 {
    text-align: center;
  }
  #sub-header {
    @include flex-display(column, center, center);
    p {
      padding: 2rem 0;
      width: 100%;
    }
  }
  #social-media {
    align-self: center;
    width: 80%;
  }
  #voting-info {
    @include flex-display(column, center, center);
    margin: 0
  }
  .voting-info-panel {
    margin: 0;
    width: 90%;
  }
  #voting-info-img {
    margin-bottom: 2rem;
  }
  #about-me {
    text-align: center;
    padding: 2rem 1.5rem;
  }
  #press-releases {
    margin: 0 2rem 1rem 2rem;
  }
}